*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  font-family: "Ubuntu", sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(images/bg_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid white;
  
}

body{
  min-width: 320px;
  
  
}
 /*запретить горизонтальный скролл*/
html, body {
  overflow-x: hidden;
  width: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 4px solid black;*/
  
  height: 10vh;
  background-color: rgba(19, 9, 6, 0.973);
  margin: 0;

}

.main_title{
  margin-left: 2%;
  margin-top: 2%;
  /*border:1px solid white;*/
  min-height: 100%;
  
  width: 50%;
  
  

  h1{
    color: rgb(162, 123, 103);
    font-size: 1.5rem;
    word-break: break-word;
    align-items: center;
  }

}



@media (min-width:450px) {
  .main_title h1{
    font-size: 1.7rem;
  }
  
}

@media (min-width:600px) {
  .main_title h1{
    font-size: 1.75rem;
  }
  
}

@media (min-width:768px) {
  .main_title h1{
    font-size: 2rem;
  }
  
}

@media (min-width:1024px) {
  .main_title h1{
    font-size: 2.5rem;
  }
  
}

@media (min-width:1440px) {
  .main_title h1{
    font-size: 3rem;
  }
  
}

.burger{
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  /*background-color: aqua;*/
  display: block;
  transition: transform 0.3s ease;
  background-color: transparent;
  right: 2%;

}

.burger:active {
  transform: scale(0.8); /* уменьшается при нажатии */
}

.nav{
  position: absolute;
  top:10vh;
  right: -100%;
  width: 45%;
  height: 30vh;
  background-color: rgb(205, 176, 162);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: right 0.6s ease;
  z-index: 3;
  
}

.nav a{
  /*чтобы ссылки не были уродскими*/ 
    text-decoration: none; /* убираем подчёркивание */
    color: inherit; /* наследуем цвет */
    cursor: pointer;
    transition: transform 0.6s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 1.1rem;

}

.nav a:active{
   transform: scale(0.8);

}

.nav.show {
  right: 0; /* выезжает */
}

.burger span{
  position: absolute;
  width: 30px;
  height: 3px;
  background-color:rgb(162, 123, 103); 
  left: 5px;
}

.burger span:nth-last-child(1){
  transform: translateY(-10px);
}

.burger span:nth-last-child(3){
  transform: translateY(10px);
}

@media (min-width: 1024px){
  .burger{
    display: none;
  }

  .nav{
    position: static;
    left: 0;
    top: 0;
    margin-right: 2%;

    z-index: 999;

    
    display: flex;
    flex-direction: row;
    background-color: transparent;
    /*border: 1px solid white;*/
    width: 45%;
    height: 100%;
    justify-content: space-between;
    
    align-items: center;

  }

  .nav a{ /*каждая ссылка*/
    background-color: rgb(162, 123, 103);
    border-radius: 10px;
    height: 85%;
    width: 30%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 3px;
    font-size: 1.25rem;

    /*чтобы ссылки не были уродскими*/ 
    text-decoration: none; /* убираем подчёркивание */
    color: inherit; /* наследуем цвет */
    cursor: pointer;
    
}

  /*красивое нажимание*/
  .nav a:hover{
    background-color: rgba(160, 130, 115, 1); /* темнее на 10-15% */
    transform: translateY(-2px);
     
  }

}

                     /*О МЕРОПРИЯТИИ*/
#event{
  
  
  width: 100%;
  height:  calc(100vh - 20vh); /* весь экран минус шапка */
  display: flex;
  
  position: relative;

}

.photo{
  position: absolute;
  width: 47%;
  height: 35vh;
  z-index: 2;
  right: 6%;
  top: 6%;
}

.square_behind_photo{
  position: absolute;
  width: 43%;
  height:35vh;
  background-color: rgb(50, 36, 36);
  right: 2%;
  top: 2%;
  z-index: 1;

}



.photo img{
  
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.timePlace{
  position: absolute;
  /*border: 2px solid white;*/
  height: 35vh;
  width: 45%;
  top: 7%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  
   /*написать текст с время место и разместить по центру!!!*/
}

.timePlace h3{
   color: rgb(222, 192, 178);
    font-size: 1.3rem;
    word-break: break-word;
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.timePlace a{
  color: rgb(222, 192, 178);
    font-size: 1.3rem;
    word-break: break-word;
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.bigTextAboutContainer{
  /*border: 2px solid white;*/
  width: 95%;
  height: 32vh;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 2.5%;
  left: 2.5%;
  border-radius: 10px;
  background-color:rgb(50, 36, 36);
  justify-content: center;
  align-items: center;

}
.textAboutEvening{
  
  width: 93%;
  height: 85%;
  display: flex;
  position: absolute;
  bottom: 7.5%;
  right: 3.5%;
  left: 3.5%;
  border-radius: 10px;
  background-color:rgb(222, 192, 178);

}

.textAboutEvening p{
  color: rgb(0, 0, 0);
    font-size: 1rem;
    word-break: break-word;
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#tickets {
  border: 2px solid white;
  width: 100%;
  display: flex;
 
  height: 10vh;
  top: 5%;
  margin-top: 5%;
  justify-content: center;

}

.tickets-button{
  width: 97vh;
  height: 7vh;
  border: 2px solid rgb(50, 36, 36);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;

   /*чтобы ссылки не были уродскими*/ 
    text-decoration: none; /* убираем подчёркивание */
    color: inherit; /* наследуем цвет */
    cursor: pointer;
  

  background-color: rgb(222, 192, 178);

  
  
}


.tickets-button:active {
  transform: scale(0.8); /* уменьшается при нажатии */
  transition: transform 0.6s ease;
}

#contacts{
  height: 150vh;
 
}
.title_Author_back{
  width: 100%;
  height: 3rem;
  background-color: rgba(19, 9, 6, 0.973);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3%;

}
.title__AboutAuthor{
  color: rgb(222, 192, 178);
    font-size: 1.5rem;
    word-break: break-word;
    align-items: center;
    text-align: center;
    
}
.textAboutPoet{
  /*border: 2px solid white;*/
  height: 45%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background-color: rgb(50, 36, 36);
  border-radius: 10px;
  padding: 0 3%;
  

}

.textAboutPoet p{
    color: rgb(222, 192, 178);
    font-size: 1rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.links_poet{

  
  width: 95%;
  height: 7vh;
   display: flex;
  align-items: center;
   
   justify-content: center;
   gap: 5%;
   margin: 3%  2.5%;

}

.links_poet h3{
  color:rgb(222, 192, 178);
  font-size: 1.5rem;


}

.links_poet img{
  display: flex;
  max-height: 45px;
  max-width: 45px;
  align-items: center;
  
}

.links_poet img:active{
  transform: scale(0.8); /* уменьшается при нажатии */
  transition: transform 0.6s ease;
}


.developer{
color: rgb(222, 192, 178);
    font-size: 1.2rem;
    word-break: break-word;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.links_mihan{

  
  width: 95%;
  height: 7vh;
   display: flex;
  align-items: center;
   
   justify-content: center;
   gap: 5%;
   margin: 3%  2.5%;

}

.links_mihan h3{
  color:rgb(222, 192, 178);
  font-size: 1.5rem;


}

.links_mihan img{
  display: flex;
  max-height: 45px;
  max-width: 45px;
  align-items: center;
  
}

.links_poet img:active{
  transform: scale(0.8); /* уменьшается при нажатии */
  transition: transform 0.6s ease;
}


.donats{
   width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  

}

.donation-button{
  width: 95%;
  height: 7vh;
  border: 2px solid rgb(50, 36, 36);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  

   /*чтобы ссылки не были уродскими*/ 
    text-decoration: none; /* убираем подчёркивание */
    color: inherit; /* наследуем цвет */
    cursor: pointer;
  

  background-color: rgb(222, 192, 178);

  
  
}


.donation-button:active {
  transform: scale(0.8); /* уменьшается при нажатии */
  transition: transform 0.6s ease;
}




